/* 
 Paleta de cores:
 -laranja: #DD2803
 -bege: #F9F2EA
*/

body{
    background: #ffffff;
    height: 100vh;
    width: 99vw;  
} 

header {
    background-color: #DD2803;
    margin-bottom: 10%;
}

#logo {
    max-width:140px;
    padding: 10px 10px 10px 10px;
    border-radius: 200px;
    display: flex;
    margin: auto; 
    
}

#botao{
    display: flex;
    position: relative;
    left: 80%;
    align-content:flex-start;
    border-radius: 5px;
    text-decoration:none;
    cursor:pointer;
    display: inline-block;
}

.navbar {
    margin-bottom: 20px;
}

.quem-somos {
    margin-top: -150px;
    font-size: 40px;
    font-weight:bold;
	margin-left: 700px;
    
}

.conteudo{
    display: flex;
    justify-content: flex-start;
}

#empresarias {
    margin-top: 30px;
    max-width:400px;
    padding: 10px 10px 10px 10px;
    display:inline-block;
    margin-left:230px;

}

#chef {
    max-width:400px;
    padding: 10px 10px 10px 10px;
    display:inline-block;
    margin-left:230px;
    margin-bottom: 10%;

}

.texto {
    text-align: justify;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 480px;
    font-size:23px;
}
