/* 
 Paleta de cores:
 -laranja: #DD2803
 -bege: #F9F2EA
*/

body, html {
    height: 100vh;
    width: 99vw;  
} 

header {
    background-color: #DD2803;
    margin-bottom: 10%;
}

#logo {
    max-width:140px;
    padding: 15px 10px 10px 10px;
    border-radius: 50px;
    display: flex;
    margin: auto; 
    
}

#botao{
    display: flex;
    position: relative;
    left: 80%;
    align-content:flex-start;
    border-radius: 5px;
    text-decoration:none;
    cursor:pointer;
    display: inline-block;
}

#photo-principal{

    display: flex;
    position: relative;
    margin-top: -9%;
    left: 20%;
    align-items:flex-start;
    justify-content: flex-start;
    border-radius: 5px;
    display: inline-block;
    max-width: 60%;
    
   

}

.navbar {
    margin-bottom: 20px;
}




